*{
    transition: all 300ms ease;
}
html body{
    background: antiquewhite;

}
/*|||||||||||||||||||||||||||||||||||||||||||||||||||
================ BANNER SECTION  ====================
|||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*Image of the bird in a cage*/
#img-logo{
    width: 10%;
    position: relative;
    top: -30px;
}
/*The name of the game: Birdie*/
#logo{
    font-family: 'Monoton' , sans-serif;
    font-size:70px;
    color: blue;
    text-align: left;

}
/*Only one Spot matters!*/
#slogan{
    font-size: 35px;
    font-family: 'Julius Sans One', sans-serif;
    color: grey;
    padding-top:70px;
}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||
=============== CANVAS SECTION  =====================
|||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.canvas{
    width:100%;
    height:570px;
    border:1px solid black;
    background-size: cover;
    background: url("../images/front_page.gif") no-repeat;
    background-size: cover;
    background-position: center;

}
/*the work birdie above the bird on the homepage*/
#in-game_title{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 110px;
    color:white;
    text-align: center;
    position: relative;
    top:100px;
}
/*This is for the play button*/
.canvas .front-page .text-center .btn-primary{
    font-size: 3rem;
    position: relative;
    top:100px;
    padding:2px 40px;
    color:orange;


}


/*|||||||||||||||||||||||||||||||||||||||||||||||||||
================ MEDIA QUERIES ======================
|||||||||||||||||||||||||||||||||||||||||||||||||||||*/
@media screen and (max-width: 1200px){
    .banner{
        text-align: center;
    }
    #slogan{
        display:none;
    }
}
@media screen and (max-width: 1000px){
    #img-logo{
        display:none;
    }
}