*{
    transition: all 300ms ease;
}
html body{
    background: antiquewhite;

}
/*|||||||||||||||||||||||||||||||||||||||||||||||||||
================ BANNER SECTION  ====================
|||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*Image of the bird in a cage*/
#img-logo{
    width: 10%;
    position: relative;
    top: -41px;
}
/*The name of the game: Birdie*/
#logo{
    font-family: 'Monoton' , sans-serif;
    font-size:100px;
    color: blue;
    padding:5px;
    text-align: left;

}
/*Only one Spot matters!*/
#slogan{
    font-size: 35px;
    font-family: 'Julius Sans One', sans-serif;
    color: grey;
    padding-top:70px;
}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||
=============== CANVAS SECTION  =====================
|||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.canvas{
    width:100%;
    height:500px;
    border:1px solid black;
    background-size: cover;
    background: url("../images/birdman.gif") no-repeat;
    background-position: right;

}


/*|||||||||||||||||||||||||||||||||||||||||||||||||||
================ MEDIA QUERIES ======================
|||||||||||||||||||||||||||||||||||||||||||||||||||||*/
@media screen and (max-width: 1200px){
    .banner{
        text-align: center;
    }
    #slogan{
        display:none;
    }
}
@media screen and (max-width: 1000px){
    #img-logo{
        display:none;
    }
}