<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BIRDIE</title>
    <script src="../static/node_modules/jquery/dist/jquery.js"></script>
    <script src="../static/script/index.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Monoton|Julius+Sans+One" rel="stylesheet">


</head>
<body>
    <div class="container">
        <div class="banner">
            <img class ="col-xl-1 col-lg-1" id="img-logo" src="../static/images/logo.png">
            <span class ="col-xl-5 col-lg-5 col-md-11 col-sm-11" id="logo"><a href="#"> Birdie</a></span>
            <span class ="col-xl-6 col-lg-6 col-md-12 col-sm-12" id="slogan">&nbsp Only One Spot Matters!</span>
            <hr>
        </div>
        <div class="canvas">

        </div>

    </div>


</body>
</html>