<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BIRDIE</title>
    <script  type="text/javascript" src="../static/node_modules/jquery/dist/jquery.js"></script>
    <script  type="text/javascript" src="../static/script/index.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe|Monoton|Julius+Sans+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


</head>
<body>

    <div class="container">
        <div class="banner">
            <img class ="col-xl-1 col-lg-1" id="img-logo" src="../static/images/logo.png">
            <span class ="col-xl-5 col-lg-5 col-md-11 col-sm-11" id="logo"><a href="#"> Birdie</a></span>
            <span class ="col-xl-6 col-lg-6 col-md-12 col-sm-12" id="slogan">&nbsp Only One Spot Matters!</span>
            <hr>
        </div>
        <div class="canvas">
            <div class="front-page">
                <!--This is just for the backhround music when the page is first loaded. -->
                <iframe id="background-sound" width="0" height="0"  src="../static/images/bensound-littleidea.mp3" frameborder="0" allowfullscreen></iframe>
                <h1 id="in-game_title"><b>Birdie</b></h1>

                <!--the start button on the front page-->
                <div class="text-center">
                    <button class="btn btn-primary" id="easy">Easy</i></button>
                    <button class="btn btn-primary" id="medium">Medium</i></button>
                    <button class="btn btn-primary" id="hard">Hard</i></button>
                    <button class="btn btn-primary" id="impossible">Impossible</i></button>
                </div>

                <!-The flying bird-->
                <img id="bird" src="../static/images/bird.gif">
                <img class="center-block" id="cage" src="../static/images/cage2.png">
            </div>
        </div>
    </div>
    <script></script>
</body>
</html>