<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Middle</title>
    <script src="../static/node_modules/jquery/dist/jquery.js"></script>
    <script src="../static/script/index.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Monoton|Julius+Sans+One" rel="stylesheet">


</head>
<body>
    <div class="container">
        <div class="col-md-12 col-lg-12, col-sm-12, col-xl-12 banner">
            <span id="logo"> Middle</span>
            <span id="slogan">&nbsp Only One Spot Matters!</span>
            <hr>
        </div>
        <div class="canvas">

        </div>

    </div>


</body>
</html>